<template name="layout">
	<div class="hero-unit">
		<h1><i class="fa fa-rebel"></i> STAR WARS OPENING CRAWL <i class="fa fa-empire"></i></h1>
	</div>
	<select class="films">
		<option value="4">EPISODE I: THE PHANTOM MENACE</option>
		<option value="5">EPISODE II: ATTACK OF THE CLONES</option>
		<option value="6">EPISODE III: REVENGE OF THE SITH</option>
		<option value="1">EPISODE IV: A NEW HOPE</option>
		<option value="2">EPISODE V: THE EMPIRE STRIKES BACK</option>
		<option value="3">EPISODE VI: RETURN OF THE JEDI</option>
	</select>
	<h1>
		<small>{{curfilm}}</small>
	</h1>
</template>